
html {
    /* primary theme color. This will affect the entire websites color scheme: links, arrows, labels, ... */
    --primary-color: #bd93f9;
    --primary-dark-color: #9270e4;
    --primary-light-color: #9270e4;

    /* page base colors */
    --page-background-color: #ffffff;
    --page-foreground-color: #2f4153;
    --page-secondary-foreground-color: #6f7e8e;

    /* color for all separators on the website: hr, borders, ... */
    --separator-color: #bd93f965;

    /* border radius for all rounded components. Will affect many components, like dropdowns, memitems, codeblocks, ... */
    --border-radius-large: 22px;
    --border-radius-small: 9px;
    --border-radius-medium: 14px;

    /* default spacings. Most components reference these values for spacing, to provide uniform spacing on the page. */
    --spacing-small: 8px;
    --spacing-medium: 14px;
    --spacing-large: 19px;

    --top-height: 125px;
}

html.dark-mode {
    color-scheme: dark;

    --primary-color: #bd93f9;
    --primary-dark-color: #9270e4;
    --primary-light-color: #9270e4;
    --primary-lighter-color: #191e21;
    --primary-lightest-color: #191a1c;

    --box-shadow: 0 2px 8px 0 rgba(0,0,0,.30);

    --odd-color: rgba(100,100,100,.06);

    --menu-selected-background: rgba(0,0,0,.4);
    
    --page-background-color: #21222c;
    --page-foreground-color: #d2dbde;
    --page-secondary-foreground-color: #859399;
    --separator-color: #3a3246;
    --side-nav-background: #282a36;
    --side-nav-foreground: #f8f8f2;
    --toc-background: #282A36;
    --searchbar-background: var(--page-background-color);

    --code-background: #2a2c2f;

    --tablehead-background: #2a2c2f;

    --blockquote-background: #222325;
    --blockquote-foreground: #7e8c92;
}

a:hover > span.arrow {
    text-decoration: none;
    background : none;/*Needed here and down there to avoid buggy visuals in ToC*/
}

a:hover {
	text-decoration: none;
	background: none;
}
